.card {
  margin-bottom: 14px;
  background-color: #2a3042;
  background-clip: border-box;
  border: 0 solid #32394e;
  border-radius: 0 0 4px 4px;
  @include small {
    margin-left: -15px;
    margin-right: -15px;
    border-radius: 0;
    margin-bottom: 0;
  }
  @include extraSmall {
    margin-left: -15px;
    margin-right: -15px;
    border-radius: 0;
    margin-bottom: 0;
  }
  .card-body {
    padding: 20px;
    @include medium {
      padding: 20px 10px;
    }
    @include small {
      padding: 30px 15px 20px;
    }
    @include extraSmall {
      padding: 30px 15px 20px;
    }
  }
  .btn-wrap {
    text-align: right;
    margin-bottom: 12px;
    @include small {
      margin-bottom: 32px;
    }
    @include extraSmall {
      margin-bottom: 32px;
    }
  }
  .btn {
    font-size: 14px;
    padding: 6px 20px;
    margin-bottom: 8px;
    margin-right: 7px;
    @include small {
      width: 100%;
      margin-right: 0;
    }
    @include extraSmall {
      width: 100%;
      margin-right: 0;
    }
    svg {
      font-size: 11px;
      margin-right: 5px;
    }
  }
  .btn-add-product {
    text-transform: uppercase;
    @include btnCustom;
    @include small {
      padding: 12px 24px;
    }
    @include extraSmall {
      padding: 12px 24px;
    }
  }
}

.el-checkbox__input.is-checked {
  .el-checkbox__inner {
    background-color: #409eff;
    border-color: #409eff;
  }
}
.el-checkbox__inner {
  border: 1px solid #454d61;
  background-color: #2e3548;
}

.table {
  table-layout: fixed;
  white-space: nowrap;
  color: #a6b0cf;
  margin-bottom: 10px;
  @include medium {
    margin-bottom: 10px;
  }
  @include small {
    table-layout: auto;
  }
  @include extraSmall {
    table-layout: auto;
  }

  tr {
    vertical-align: middle;
    border-top: 1px solid #32394e;
    padding: 18px;
    @include medium {
      padding: 12px;
    }
  }
  .thead-light {
    text-transform: uppercase;
    th {
      color: #c3cbe4;
      border-color: #32394e;
      background-color: rgba(195, 203, 228, 0.05);
      font-weight: 500;
      padding: 18px;
      text-align: left;
      @include medium {
        padding: 12px;
      }
      &.product-category-thead {
        width: 150px;
      }
      &.product-name-thead {
        width: 180px;
      }
      &.product-original-price-thead {
        width: 180px;
      }
      &.product-price-thead {
        width: 150px;
      }
      &.product-state-thead {
        width: 150px;
        text-align: center;
      }
      &.product-options-thead {
        width: 130px;
        text-align: right;
      }
      &.order-number-thead {
        width: 230px;
      }
      &.purchase-time-thead {
        width: 160px;
      }
      &.email-thead {
        width: 150px;
      }
      &.purchase-item-thead {
        width: 180px;
      }
      &.total-price-thead {
        width: 160px;
      }
      &.payment-thead {
        width: 200px;
        text-align: center;
      }
      &.options-order-thead {
        width: 90px;
        text-align: right;
      }
      &.coupon-name-thead {
        width: 200px;
      }
      &.discount-percent-thead {
        width: 210px;
      }
      &.expiry-date-thead {
        width: 160px;
      }
      &.state-thead {
        width: 160px;
        text-align: center;
      }
      &.options-thead {
        width: 130px;
        text-align: right;
      }
    }
  }

  td {
    vertical-align: middle;
    border-top: 1px solid #32394e;
    padding: 18px;
    text-align: left;
    @include medium {
      padding: 12px;
    }
    &.product-state {
      text-align: center;
      .badge {
        width: 100px;
      }
    }
    &.product-options {
      text-align: right;
    }
    &.email {
      white-space: break-spaces;
    }
    &.payment {
      text-align: center;
      .badge {
        width: 157px;
      }
    }
    &.options-order {
      text-align: right;
    }
    &.state {
      text-align: center;
      .badge {
        width: 100px;
      }
    }
    &.options {
      text-align: right;
    }
  }

  .badge {
    text-transform: uppercase;
    font-weight: 400;
    padding: 5px 15px;
  }
  .badge-success {
    color: #34c38f;
    background-color: rgba(52, 195, 143, 0.18);
  }
  .badge-danger {
    color: #f46a6a;
    background-color: rgba(244, 106, 106, 0.18);
  }

  .btn-edit {
    color: #556ee6;
    width: 34px;
    display: flex;
    justify-content: center;
    display: inline-block;
    text-align: center;
    &:hover {
      color: #1f3dd0;
    }
  }
  .btn-remove {
    color: #f46a6a;
    width: 34px;
    display: inline-block;
    text-align: center;
    &:hover {
      color: #ef2323;
    }
    @include medium {
      width: 20px;
    }
  }
}
