.productModal,
.removeProductModal,
.orderModal,
.couponModal,
.removeCouponModal {
  &.modal {
    overflow: hidden;
    @include small {
      overflow: auto;
    }
    @include extraSmall {
      overflow: auto;
    }
  }
  .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: $adminPrimaryBgColor;
    background-clip: padding-box;
    border: 1px solid $adminModalTxtBgColor;
    border-radius: 0.4rem;
    outline: 0;
    .btn {
      @include small {
        width: 100%;
        margin: 0;
      }
      @include extraSmall {
        width: 100%;
        margin: 0;
      }
    }
    .btn-confirm {
      margin-left: 15px;
      background-color: $primaryColor;
      border-color: $primaryColor;
      &:hover,
      &:active {
        background-color: darken($primaryColor, 10);
        border-color: darken($primaryColor, 10);
      }
      @include small {
        margin: 5px 0 15px 0;
      }
      @include extraSmall {
        margin: 5px 0 15px 0;
      }
      .svg-inline--fa {
        margin-right: 5px;
      }
    }
  }
  .modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid $adminModalTxtBgColor;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
    .modal-title {
      text-transform: uppercase;
      color: $txtColor-light;
    }
  }
  .modal-body {
    color: $adminModalTxtColor;
    .form-group {
      margin-bottom: 16px;
      label {
        color: $adminModalTxtColor;
        text-transform: uppercase;
      }
    }
    .form-row > .form-group {
      margin-bottom: 16px;
    }
    .img-fluid {
      width: 100%;
      margin-bottom: 0;
      @include medium {
        margin-bottom: 16px;
      }
    }
    .form-control {
      color: $adminModalTxtColor;
      background-color: $adminModalTxtBgColor;
      border: 1px solid $adminModalTxtBgColor;
      font-size: 14px;
      &::placeholder {
        color: $txtColor-dark;
      }
    }
    .content {
      height: 120px;
    }
    hr {
      border-top: 1px solid $adminModalTxtBgColor;
    }
    .form-check {
      padding-left: 0;
      .el-checkbox {
        color: $txtColor;
      }
    }
    .line {
      text-align: center;
      position: relative;
      margin-bottom: 10px;
      &::after {
        content: '';
        position: absolute;
        top: 13px;
        left: 10px;
        width: 40%;
        height: 1px;
        background-color: lighten($adminModalTxtBgColor, 2%);
      }
      &::before {
        content: '';
        position: absolute;
        top: 13px;
        right: 10px;
        width: 40%;
        height: 1px;
        background-color: lighten($adminModalTxtBgColor, 2%);
      }
    }
    .custom-file {
      height: auto;
      overflow: hidden;
    }
  }
  .modal-footer {
    border-top: 1px solid $adminModalTxtBgColor;
    @include small {
      flex-direction: column-reverse;
      padding-bottom: 20px;
    }
    @include extraSmall {
      flex-direction: column-reverse;
      padding-bottom: 20px;
    }
  }

  .text-danger {
    height: 17px;
    margin-bottom: 17px;
    display: block;
  }

  .btn {
    text-transform: uppercase;
    font-size: 14px;
    padding: 12px 40px;
  }

  .simplebar {
    height: calc(100% - 63px - 80px);
  }
}
