.cart-table {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-self: flex-start;
  @include medium {
    flex-direction: column;
  }
  @include small {
    flex-direction: column;
  }
  @include extraSmall {
    flex-direction: column;
  }

  .cart-inner {
    padding: 30px 20px;
    background-color: darken($primaryBgColor, 2%);
    border-radius: 6px;
    @include large {
      padding: 30px 15px;
    }
    @include medium {
      padding: 30px 15px;
    }
    @include small {
      padding: 30px 15px;
    }
    @include extraSmall {
      padding: 30px 20px;
    }
  }

  .shop-table {
    width: 100%;
    border: none;
    border-radius: 0px;
    color: $primaryTxtColor;
    table-layout: fixed;
    white-space: nowrap;
    tr.line {
      color: $txtColor;
      border-top: 1px solid $adminModalTxtBgColor;
      border-bottom: 1px solid $adminModalTxtBgColor;
      th {
        font-size: 13px;
        line-height: 25px;
        padding: 15px 10px;
        font-weight: 500;
        text-transform: uppercase;
        text-align: center;
        &.product-thumbnail-thead {
          width: 100px;
          @include large {
            width: 90px;
          }
          @include medium {
            width: 90px;
          }
          @include small {
            width: 100%;
          }
          @include extraSmall {
            width: 100%;
          }
        }
        &.product-name-thead {
          width: 150px;
          @include large {
            width: 120px;
          }
          @include medium {
            width: 120px;
          }
          @include small {
            display: none;
          }
          @include extraSmall {
            display: none;
          }
        }
        &.product-price-thead {
          width: 140px;
          @include large {
            width: 105px;
          }
          @include medium {
            width: 105px;
          }
          @include small {
            display: none;
          }
          @include extraSmall {
            display: none;
          }
        }
        &.product-quantity-thead {
          width: auto;
          @include small {
            display: none;
          }
          @include extraSmall {
            display: none;
          }
        }
        &.product-remove-thead {
          width: 80px;
          text-align: center;
          @include large {
            width: 70px;
          }
          @include medium {
            width: 70px;
          }
          @include small {
            display: none;
          }
          @include extraSmall {
            display: none;
          }
        }
      }
    }
    tr.cart-item {
      border-bottom: 1px solid $adminModalTxtBgColor;
      &:last-child {
        border-bottom: none;
      }
      td {
        text-align: center;
        padding: 20px 10px;
        &.product-thumbnail {
          padding-right: 20px;
          display: table-cell;
          @include large {
            padding-right: 10px;
          }
          @include medium {
            padding-right: 10px;
          }
          @include small {
            display: flex;
            width: 100%;
            padding: 10px 0;
          }
          @include extraSmall {
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
          }
          .product-img {
            display: inline-block;
            border: 1px solid$tableBgColor;
            transition: $setTransition;
            &:hover {
              border: 1px solid $primaryColor;
            }
            img {
              max-width: 100%;
              margin: 0 auto;
            }
            @include small {
              display: none;
            }
            @include extraSmall {
              display: none;
            }
          }

          .m-img-wrap {
            display: none;
            @include small {
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              width: 60%;
              padding: 10px 10px 10px 0;
            }
            @include extraSmall {
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              width: 60%;
              padding: 20px 10px 10px 10px;
            }
            .product-img {
              width: 100px;
              display: block;
              border: 1px solid$tableBgColor;
              transition: $setTransition;
              &:hover {
                border: 1px solid $primaryColor;
              }
              img {
                max-width: 100%;
                margin: 0 auto;
              }
              @include small {
                width: 100%;
              }
              @include extraSmall {
                width: 100%;
              }
            }
          }
          .m-info-wrap {
            display: none;
            @include small {
              display: flex;
              justify-content: center;
              align-items: flex-start;
              flex-direction: column;
              width: 100%;
              position: relative;
              padding: 10px 0 10px 20px;
            }
            @include extraSmall {
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              width: 100%;
              position: relative;
              padding: 10px 0;
            }
            .m-top {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: flex-start;
              margin-bottom: 20px;
              width: 100%;
              @include extraSmall {
                align-items: center;
              }
              .m-product-name {
                display: block;
                font-size: 20px;
                font-weight: 600;
                color: #fff;
                margin-bottom: 5px;
                transition: $setTransition;
                &:hover {
                  color: $primaryColor;
                }
              }
            }
            .m-middle {
              width: 80%;
              @include extraSmall {
                width: 80%;
                margin-bottom: 20px;
              }
              .m-product-quantity {
                display: none;
                @include small {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 100%;
                }
                @include extraSmall {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 100%;
                }
              }
            }
            .m-bottom {
              position: absolute;
              top: 50%;
              right: 0;
              transform: translateY(-50%);
              @include extraSmall {
                position: relative;
                top: 0;
                right: 0;
                transform: translateY(0);
              }
              .btn-remove {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 18px;
                width: 50px;
                height: 50px;
                margin: 0 auto;
                color: darken($primaryTxtColor, 30%);
                transition: $setTransition;
                &:hover {
                  color: $btnColor-remove;
                }
                .icon-spinner {
                  color: $btnColor-remove;
                }
              }
            }
            .m-product-price {
              display: none;
              @include small {
                display: block;
                font-size: 18px;
              }
              @include extraSmall {
                display: block;
                font-size: 18px;
              }
            }
          }
        }
        &.product-name {
          @include small {
            display: none;
          }
          @include extraSmall {
            display: none;
          }
          a {
            font-size: 16px;
            font-weight: 600;
            color: #fff;
            transition: $setTransition;
            &:hover {
              color: $primaryColor;
            }
            @include large {
              font-size: 14px;
            }
            @include medium {
              font-size: 14px;
            }
          }
        }
        &.product-price {
          font-size: 16px;
          @include small {
            display: none;
          }
          @include extraSmall {
            display: none;
          }
        }
        &.product-quantity {
          font-size: 16px;
          /deep/ .el-input-number {
            width: 80%;
          }
          @include small {
            display: none;
          }
          @include extraSmall {
            display: none;
          }
        }
        &.product-remove {
          text-align: right;
          width: 40px;
          min-width: 40px;
          @include small {
            display: none;
          }
          @include extraSmall {
            display: none;
          }
          .btn-remove {
            display: block;
            font-size: 16px;
            width: 20px;
            height: 20px;
            margin: 0 auto;
            color: darken($primaryTxtColor, 30%);
            transition: $setTransition;
            &:hover {
              color: $btnColor-remove;
            }
            .icon-spinner {
              color: $btnColor-remove;
            }
          }
        }
      }
    }
  }

  .shop-table-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px 0 10px 0;
    .empty-img {
      width: 140px;
      height: 140px;
      background: url('~@/assets/images/empty_shopping_bag.svg') no-repeat
        center bottom;
      opacity: 0.2;
    }
    .empty-text {
      color: darken($txtColor, 15%);
      font-size: 24px;
      max-width: 70%;
      text-align: center;
      margin: 30px auto 20px auto;
    }
  }

  .action-wrap {
    margin-bottom: 30px;
    padding: 30px 20px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include medium {
      justify-content: center;
      margin-bottom: 60px;
    }
    @include small {
      justify-content: center;
      margin-bottom: 60px;
    }
    @include extraSmall {
      justify-content: center;
      margin-bottom: 60px;
    }
    .btn-action {
      display: inline-block;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      color: $primaryTxtColor;
      text-transform: uppercase;
      padding: 14px 30px;
      border-radius: 25px;
      background-color: darken($tableBorderColor-dark, 15%);
      transition: $setTransition;
      &:hover {
        color: #fff;
        background-color: darken($tableBorderColor-dark, 15%);
      }
      svg {
        margin-right: 5px;
      }
    }
  }

  .cart-totals-wrap {
    padding: 30px 20px;
    background-color: darken($primaryBgColor, 2%);
    border-radius: 6px;
    @include large {
      padding: 30px 15px;
    }
    @include small {
      margin-bottom: 50px;
    }
    @include extraSmall {
      margin-bottom: 50px;
    }

    .cart-totals {
      width: 100%;
      border-bottom: 4px solid $tableBorderColor;
    }
    h2 {
      border-bottom: 4px solid $tableBorderColor;
      padding: 0 0 10px 0;
      margin: 0 0 25px 0;
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 600;
      color: $txtColor;
    }
    .totals-table {
      border-collapse: separate;
      margin: 0 0 25px;
      padding: 0;
      width: 100%;
      color: $primaryTxtColor;
      th {
        width: 40%;
        text-transform: uppercase;
        text-align: left;
        font-weight: 400;
        padding: 12px 0;
        @include medium {
          font-size: 16px;
        }
      }
      td {
        text-align: right;
        padding: 12px 0;
      }
      .shipping {
        th {
          padding-bottom: 50px;
        }
      }
      .total {
        .discount-title {
          color: lighten($tableBorderColor-dark, 10%);
        }
        .discount {
          text-decoration: line-through;
          color: lighten($tableBorderColor-dark, 10%);
        }
      }
      .final-total {
        color: $primaryColor;
        .price-amount {
          font-size: 18px;
          font-weight: 500;
          color: $primaryColor;
        }
      }
      .price-amount {
        font-size: 16px;
        color: #fff;
      }
      .shipping-method {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
        li {
          margin: 0 0 8px;
        }
      }
      /deep/ .el-radio {
        font-size: 16px;
        margin-bottom: 0;
        display: flex;
        justify-content: flex-end;
        .el-radio__label {
          color: #fff;
          font-size: 16px;
          font-weight: 400;
        }
        &.is-checked {
          .el-radio__label {
            color: #fff;
            font-size: 16px;
          }
          .el-radio__inner {
            border-color: lighten($tableBorderColor-dark, 30%);
            background: lighten($tableBorderColor-dark, 30%);
            &:after {
              background-color: darken($tableBgColor, 3%);
            }
          }
          & + .el-radio__label {
            color: #fff;
          }
        }
        &.is-disabled {
          cursor: default;
          pointer-events: none;
          .el-radio__label {
            color: $tableBorderColor-dark;
            font-size: 16px;
          }
          .el-radio__inner {
            border: 1px solid $tableBorderColor-dark;
            background-color: $tableBorderColor-dark;
            pointer-events: none;
            cursor: default;
          }
        }
        & + .el-radio__label {
          color: $tableBorderColor-dark;
          pointer-events: none;
          cursor: default;
        }
      }
    }

    .cart-button {
      margin-top: 25px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .btn-next {
        padding: 12px 40px;
        border-radius: 3px;
        background-color: $primaryColor;
        border: 1px solid transparent;
        color: #fff;
        line-height: 1.5;
        font-size: 16px;
        display: inline-block;
        text-transform: uppercase;
        font-weight: 400;
        width: 100%;
        text-align: center;
        transition: $setTransition;
        &:hover {
          background-color: darken($primaryColor, 10%);
        }
        &.disabled {
          pointer-events: none;
          cursor: default;
          background-color: darken($tableBorderColor-dark, 15%);
          border-color: darken($tableBorderColor-dark, 15%);
          color: $primaryTxtColor;
        }
      }
    }
  }
}
