.products-tab {
  width: 100%;
  padding: 50px 0 0 0;
  margin-bottom: 140px;
  @include medium {
    padding: 30px 0 0 0;
    margin-bottom: 120px;
  }
  @include small {
    padding: 70px 0 0 0;
    margin-bottom: 100px;
  }
  @include extraSmall {
    padding: 70px 0 0 0;
    margin-bottom: 100px;
  }

  // element-ui tab
  /deep/ .el-tabs {
    height: auto;
  }

  /deep/ .el-tabs__header {
    margin: 0 0 30px;
    @include small {
      margin: 0 0 20px;
    }
    @include extraSmall {
      margin: 0 0 20px;
    }
    .el-tabs__nav-wrap {
      &:after {
        height: 2px;
        background-color: $adminModalTxtBgColor;
      }
    }
    .el-tabs__nav-scroll {
      display: flex;
      justify-content: space-evenly;
      @include small {
        overflow-x: auto;
        justify-content: space-between;
        &::-webkit-scrollbar {
          display: none;
        }
      }
      @include extraSmall {
        overflow-x: auto;
        justify-content: space-between;
        &::-webkit-scrollbar {
          display: none;
        }
      }
      .el-tabs__active-bar {
        background-color: $primaryColor;
      }
      .el-tabs__item {
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 500;
        color: darken($primaryTxtColor, 20%);
        &.is-active {
          color: #ffffff;
        }
      }
    }
  }

  /deep/ .el-tabs__content {
    color: $primaryTxtColor;
    padding-top: 10px;
    @include small {
      padding-top: 0;
    }
    @include extraSmall {
      padding-top: 0;
    }
  }

  .shop_attributes {
    border-bottom: 1px solid $adminModalTxtBgColor;
    border-left: 1px solid $adminModalTxtBgColor;
    width: 100%;
    tr {
      border-top: 1px solid $adminModalTxtBgColor;
      border-right: 1px solid $adminModalTxtBgColor;
    }
    th {
      width: 20%;
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      padding: 20px 30px;
      border-right: 1px solid $adminModalTxtBgColor;
      text-transform: uppercase;
      @include small {
        width: 40%;
        padding: 20px 20px;
      }
      @include extraSmall {
        width: 40%;
        padding: 20px 20px;
      }
    }
    td {
      width: 150px;
      color: $primaryTxtColor;
      font-size: 16px;
      padding: 20px 30px;
      @include small {
        width: 60%;
        padding: 20px 20px;
      }
      @include extraSmall {
        width: 60%;
        padding: 20px 20px;
      }
      p {
        margin-bottom: 0;
      }
    }
  }

  h4 {
    font-size: 16px;
    margin-bottom: 16px;
    line-height: 1.6;
    font-weight: 300;
    color: lighten($primaryTxtColor, 40%);
    @include small {
      font-size: 3vmin;
    }
    @include extraSmall {
      font-size: 5vmin;
    }
  }
  p {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    color: lighten($primaryTxtColor, 5%);
  }
  li {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    color: lighten($primaryTxtColor, 5%);
  }
}
