.product-rating {
  margin-bottom: 15px;
  @include small {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5px;
  }
  @include extraSmall {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5px;
  }
  span {
    margin: 0 auto;
  }
  .star {
    display: inline-block;
    font-size: 13px;
    color: darken($txtColor-light, 15%);
    margin-right: 5px;
    &:last-child {
      margin-right: 0;
    }
    &.fill,
    &.half {
      color: darken($txtColor-light, 15%);
    }
    &.empty {
      color: darken($txtColor-dark, 15%);
    }
  }
}
