.watches-details-wrapper {
  .breadcrumb-area {
    &:before {
      background-image: url('~@/assets/images/breadcrumb/breadcrumb_details.jpg');
    }
  }

  .page-container {
    padding: 80px 0 140px 0;
    @include medium {
      padding: 80px 0 40px 0;
    }
    @include small {
      padding: 60px 15px 30px 15px;
    }
    @include extraSmall {
      padding: 60px 15px 30px 15px;
    }

    .products-spec {
      margin-bottom: 50px;
      @include small {
        margin-bottom: 0;
      }
      @include extraSmall {
        margin-bottom: 0;
      }
      .details-large {
        width: 100%;
        margin: 0 auto;
        position: relative;
        &.on-sale {
          &:after {
            top: 0;
            right: 0;
            content: '';
            position: absolute;
            border-style: solid;
            border-width: 0 130px 130px 0;
            border-color: transparent $btnColor-dark transparent;
            @include large {
              border-width: 0 120px 120px 0;
            }
            @include medium {
              border-width: 0 80px 80px 0;
            }
            @include small {
              border-width: 0 120px 120px 0;
            }
            @include extraSmall {
              border-width: 0 26vmin 26vmin 0;
            }
          }
          &:before {
            color: $primaryColor;
            content: 'SALE';
            position: absolute;
            text-align: right;
            padding: 0;
            top: 30px;
            right: 18px;
            display: block;
            z-index: 5;
            font-size: 20px;
            font-weight: 500;
            transform: rotate(45deg);
            @include large {
              top: 30px;
              right: 16px;
              font-size: 18px;
            }
            @include medium {
              top: 18px;
              right: 8px;
              font-size: 14px;
            }
            @include small {
              top: 30px;
              right: 16px;
              font-size: 18px;
            }
            @include extraSmall {
              top: 6.5%;
              right: 3.5%;
              font-size: 4.5vmin;
            }
          }
        }
      }
      .details-content {
        color: $txtColor;
        padding: 30px 20px;
        height: 585px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include medium {
          padding: 5px 0;
          height: auto;
        }
        @include small {
          padding: 30px 0 0 0;
          height: auto;
        }
        @include extraSmall {
          padding: 30px 0 0 0;
          height: auto;
        }

        .details-top {
          border-bottom: 1px solid $adminModalTxtBgColor;
          padding-bottom: 20px;
          margin-bottom: 20px;
          @include medium {
            padding-bottom: 10px;
            margin-bottom: 10px;
          }
          .name {
            color: #fff;
            font-size: 36px;
            margin-bottom: 15px;
            text-transform: capitalize;
            @include medium {
              font-size: 28px;
            }
            @include small {
              font-size: 5vmin;
              text-align: center;
            }
            @include extraSmall {
              font-size: 10vmin;
              text-align: center;
            }
          }

          .details-rating {
            margin-top: 15px;
            margin-bottom: 15px;
            svg {
              display: inline-block;
              font-size: 13px;
              color: darken($txtColor-light, 15%);
              margin-right: 5px;
            }
            @include small {
              text-align: center;
              svg {
                font-size: 3.5vmin;
              }
            }
            @include extraSmall {
              text-align: center;
              svg {
                font-size: 5vmin;
              }
            }
          }

          .details-list {
            list-style: none;
            padding-left: 0;
            margin-top: 20px;
            padding-top: 20px;
            border-top: 1px solid $adminModalTxtBgColor;
            @include medium {
              margin-top: 10px;
              padding-top: 10px;
            }
            li {
              width: 100%;
              display: flex;
              justify-content: flex-start;
              align-items: flex-start;
              margin-bottom: 5px;
              &:last-child {
                margin-bottom: 0;
              }
              @include small {
                justify-content: space-between;
                align-items: center;
                margin-bottom: 10px;
                padding-left: 7%;
              }
              @include extraSmall {
                justify-content: space-between;
                align-items: center;
                margin-bottom: 10px;
                padding-left: 7%;
              }
            }
            span {
              text-align: left;
              text-transform: uppercase;
              font-size: 13px;
              margin-right: 20px;
              width: 100px;
              @include small {
                text-align: right;
                margin-right: 0;
                width: 48%;
                font-size: 3vmin;
              }
              @include extraSmall {
                text-align: right;
                margin-right: 0;
                width: 48%;
                font-size: 4.5vmin;
              }
            }
            p {
              text-align: left;
              text-transform: capitalize;
              color: $primaryTxtColor;
              font-size: 14px;
              @include medium {
                margin-bottom: 0;
              }
              @include small {
                margin-bottom: 0;
                width: 48%;
                font-size: 3vmin;
              }
              @include extraSmall {
                margin-bottom: 0;
                width: 48%;
                font-size: 4.5vmin;
              }
            }
          }

          .details-price-wrapper {
            margin-top: 20px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            @include small {
              justify-content: center;
            }
            @include extraSmall {
              justify-content: center;
            }
            .money {
              color: $primaryColor;
              margin: 0 2px;
              font-size: 26px;
              font-weight: 500;
              @include small {
                font-size: 5vmin;
              }
              @include extraSmall {
                font-size: 8.15vmin;
              }
            }
            .origin-price {
              margin: 0 2px 0 6px;
              .money {
                text-decoration: line-through;
                color: $primaryTxtColor;
                font-size: 20px;
                font-weight: 400;
                @include small {
                  font-size: 3.5vmin;
                }
                @include extraSmall {
                  font-size: 6.25vmin;
                }
              }
            }
          }
        }

        .details-middle {
          padding-top: 10px;
          margin-bottom: 10px;
          .details-action-wrapper {
            display: flex;
            justify-content: space-between;
            width: 100%;
            @include medium {
              justify-content: space-between;
            }
            @include small {
              flex-direction: column;
              align-items: center;
              justify-content: space-between;
            }
            @include extraSmall {
              flex-direction: column;
              align-items: center;
              justify-content: space-between;
            }
          }
          /deep/ .el-input-number {
            width: 40%;
            line-height: 48px;
            @include large {
              width: 40%;
            }
            @include medium {
              width: 40%;
            }
            @include small {
              width: 100%;
              line-height: 46px;
            }
            @include extraSmall {
              width: 100%;
              line-height: 46px;
            }
            &.disabled {
              pointer-events: none;
              cursor: default;
              .el-input-number__decrease {
                background: $btnColor-view;
                border-right: 1px solid $primaryBgColor;
                color: lighten($btnColor-view, 50%);
              }
              .el-input-number__increase {
                background: $btnColor-view;
                border-left: 1px solid $primaryBgColor;
                color: lighten($btnColor-view, 50%);
              }
              .el-input__inner {
                background-color: $btnColor-view;
                border: 1px solid $btnColor-view;
                color: lighten($btnColor-view, 50%);
              }
            }
          }
          /deep/ .el-input-number__decrease {
            width: 50px;
            color: $txtColor;
            background: $primaryBgColor;
            border-right: 1px solid $adminModalTxtBgColor;
            &.is-disabled {
              color: $txtColor;
            }
            @include small {
              width: 50px;
              height: 48px;
            }
            @include extraSmall {
              width: 50px;
              height: 48px;
            }
          }
          /deep/ .el-input-number__increase {
            width: 50px;
            color: $txtColor;
            background: $primaryBgColor;
            border-left: 1px solid $adminModalTxtBgColor;
            &.is-disabled {
              color: $txtColor;
            }
            @include small {
              width: 50px;
              height: 48px;
            }
            @include extraSmall {
              width: 50px;
              height: 48px;
            }
          }
          /deep/ .el-icon-minus,
          /deep/ .el-icon-plus {
            @include small {
              line-height: 48px;
            }
            @include extraSmall {
              line-height: 48px;
            }
          }
          /deep/ .el-input__inner {
            background-color: $adminModalTxtBgColor;
            border: 1px solid $adminModalTxtBgColor;
            color: #ffffff;
            height: 50px;
            line-height: 50px;
          }
          /deep/
            .el-input-number__decrease:hover:not(.is-disabled)
            ~ .el-input
            .el-input__inner:not(.is-disabled),
          .el-input-number__increase:hover:not(.is-disabled)
            ~ .el-input
            .el-input__inner:not(.is-disabled) {
            border-color: $adminModalTxtBgColor;
          }

          .details-action-btns {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            width: 55%;
            @include large {
              width: 55%;
            }
            @include medium {
              width: 55%;
            }
            @include small {
              width: 100%;
              margin-top: 25px;
            }
            @include extraSmall {
              width: 100%;
              margin-top: 25px;
            }
          }
          .btn {
            padding: 10px 14px;
            color: $txtColor-light;
            background-color: lighten($primaryBgColor, 5%);
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            border-radius: 3px;
            height: 50px;
            @include large {
              padding: 10px 10px;
            }
            @include small {
              padding: 10px 10px;
            }
            @include extraSmall {
              padding: 14px 14px;
            }
            &:hover {
              background-color: $primaryColor;
            }
          }
          .btn-add-cart {
            width: calc(100% - 50px - 5%);
            padding: 10px 30px;
            background-color: lighten($primaryBgColor, 5%);
            &:hover {
              background-color: $primaryColor;
            }
            svg {
              width: 16px;
              margin-right: 5px;
            }
            @include large {
              width: calc(100% - 15px - 50px);
            }
            @include medium {
              width: calc(100% - 15px - 50px);
            }
            @include small {
              width: calc(100% - 15px - 50px);
              padding: 12px 14px;
              font-size: 16px;
              margin-left: 0;
            }
            @include extraSmall {
              width: calc(100% - 15px - 50px);
              padding: 14px 14px;
              font-size: 5.2vmin;
              margin-left: 0;
            }
          }
          .btn-view-cart {
            width: calc(100% - 50px - 5%);
            padding: 10px 30px;
            background-color: $btnColor-view;
            color: lighten($btnColor-view, 50%);
            &:hover {
              background-color: $btnColor-view;
              color: $primaryColor;
            }
            @include large {
              width: calc(100% - 15px - 50px);
            }
            @include medium {
              width: calc(100% - 15px - 50px);
            }
            @include small {
              width: calc(100% - 15px - 50px);
              padding: 12px 14px;
              font-size: 16px;
              margin-left: 0;
            }
            @include extraSmall {
              width: calc(100% - 15px - 50px);
              padding: 14px 14px;
              font-size: 5.2vmin;
              margin-left: 0;
            }
            svg {
              width: 16px;
              margin-right: 5px;
            }
          }
          .btn-add-wishlist {
            width: 50px;
            color: $txtColor-light;
            background-color: $btnColor-add;
            @include large {
              width: 50px;
            }
            @include medium {
              width: 50px;
            }
            @include small {
              width: 50px;
              margin-left: 0;
            }
            @include extraSmall {
              width: 50px;
              margin-left: 0;
            }
          }
          .btn-wishlisted {
            width: 50px;
            background-color: $btnColor-view;
            color: lighten($btnColor-view, 50%);
            &:hover {
              background-color: $btnColor-view;
              color: $primaryColor;
            }
            @include large {
              width: 50px;
            }
            @include medium {
              width: 50px;
            }
            @include small {
              width: 50px;
              margin-left: 0;
            }
            @include extraSmall {
              width: 50px;
              margin-left: 0;
            }
          }
        }

        .details-bottom {
          border-top: 1px solid $adminModalTxtBgColor;
          padding-top: 20px;
          margin-top: 20px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          @include medium {
            padding-top: 15px;
            margin-top: 10px;
          }
          @include small {
            flex-direction: column;
          }
          @include extraSmall {
            flex-direction: column;
          }
          p {
            text-align: left;
            text-transform: uppercase;
            font-size: 13px;
            margin-right: 20px;
            margin-bottom: 0;
            @include small {
              display: none;
            }
            @include extraSmall {
              display: none;
            }
          }
          .share-link {
            list-style: none;
            padding-left: 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 0;
            @include small {
              justify-content: space-evenly;
              width: 100%;
            }
            @include extraSmall {
              justify-content: space-evenly;
              width: 100%;
            }
          }
          li {
            margin-right: 15px;
            @include small {
              margin-right: 0;
            }
            @include extraSmall {
              margin-right: 0;
            }

            a {
              color: $primaryTxtColor;
              width: 38px;
              height: 38px;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 10px 12px;
              border-radius: 50%;
              background-color: transparent;
              transition: $setTransition;
              @include small {
                width: 48px;
                height: 48px;
              }
              @include extraSmall {
                width: 48px;
                height: 48px;
              }
              svg {
                font-size: 18px;
                @include small {
                  font-size: 5vmin;
                }
                @include extraSmall {
                  font-size: 8vmin;
                }
              }
              &.icon-facebook {
                &:hover {
                  color: #ffffff;
                  background-color: #3b5998;
                }
              }
              &.icon-twitter {
                &:hover {
                  color: #ffffff;
                  background-color: #1dcaff;
                }
              }
              &.icon-linkedin {
                &:hover {
                  color: #ffffff;
                  background-color: #0077b5;
                }
              }
              &.icon-pinterest {
                &:hover {
                  color: #ffffff;
                  background-color: #c8232c;
                }
              }
            }
          }
        }
      }
    }
  }
}
